<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<ul *ngIf="dataLoaded == true" class="list-group">
  <li [class]="getAllCategories()" routerLink="/cars">All Categories</li>
  <li
    (click)="setCurrentCategory(category)"
    routerLink="/cars/category/{{ category.id }}"
    *ngFor="let category of categories"
    [class]="getCurrentCategory(category)">
    {{ category.categoryName }}
  </li>
</ul>

<h5 *ngIf="currentCategory">seçiminiz: {{ currentCategory.categoryName }}</h5>
